# Configurações do Telegram
# Crie seu bot no Telegram falando com o @BotFather para obter o Token
TELEGRAM_BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ_1234567

# Obtenha seu Chat ID enviando uma mensagem para @userinfobot no Telegram
TELEGRAM_CHAT_ID=123456789
